<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products details</title>
</head>
<body>
    <form action="/products" method="post">
        <input type="text" name="product_no" placeholder="Enter product no:">
        <input type="text" name="name" placeholder="Enter product name:">
        <input type="number" name="price" placeholder="Enter product price:">
        <button type="submit">save products</button>
    </form>
</body>
</html>