<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>studnets information</title>
</head>
<body>
    <form action="/students" method="post">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="text" name="roll" placeholder="Enter your roll no">
        <input type="string" name="reg" placeholder="enter registation number">
        <!-- <br> -->
        <button type="submit">saveStudentInformation</button>
    </form>
</body>
</html>